@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

/*------ Página de Inicio ------*/
body{
    font-family: 'Mulish', sans-serif;
}

.bg-index{
    background: url(/assets/img/inicio/background-index.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-menu{
    height: 100vh;
}

.img-logo{
    width: 100%;
}

.img-icono{
    width: 15%;
}

.social-network{
    width: 60%;
}
/*------------------------------*/


/*------ Página Características ------*/
.bg-caracteristicas{
    background: url(/assets/img/caracteristicas/bg-caracteristicas.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.video-carac{
    width: 100%;
}

/*.img-carac{
    width: 400px;
}*/

.img-center{
    height: 490px;
}
/*------------------------------------*/


/*------ Página Suscripción y Costos ------*/
.bg-suscripcion{
    background: url(/assets/img/suscripcion/bg-suscripcion.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/*-----------------------------------------*/


/*------ Página Nuestro Equipo ------*/
.bg-equipo{
    background: url(/assets/img/nuestro-equipo/bg-equipo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-linkcards{
    width: 220px;
}

.img-equipo{
    width: 300px;
}
/*-----------------------------------*/


/*------ Página Networking ------*/
.bg-networking{
    background: url(/assets/img/networking/background-networking.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-vigiliner{
    height: 248px;
}

.img-calibratto{
    height: 280px;
}

.img-decomart{
    height: 280px;
    width: 500px;
}
/*-------------------------------*/

/*------ Media Queries ------*/
@media (max-width: 468px){
    .bg-index{
        background-image: url(/assets/img/inicio/background-index.gif);
        height: 1000px;
    }

    .container-menu{
        padding-left: 40px;
    }

    .text-menu-big, .text-menu-small{
        font-size: 7px;
    }

    .text-menu{
        font-size: 8px;
    }

    .img-logo{
        width: 250px;
    }

    .img-icono{
        width: 25px;
    }

    .social-network{
        width: 50px;
        padding: 5px;
        padding-right: 30px;
    }

    .img-center{
        height: 130px;
    }

    .bg-networking{
        background: url(/assets/img/networking/background-networking.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-equipo{
        background: url(/assets/img/nuestro-equipo/bg-equipo.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
    }

    .img-equipo{
        height: 90px;
    }
}
/*---------------------------*/